Flask
Flask-SQLAlchemy
passlib
torch
transformers
accelerate
librosa
protobuf
pytubefix
ollama

# Requirements for all services should be split into service-specific requirements files.
# This file can be removed after migration.